<div class="box">
    <h1>Recuperar Contraseña</h1>
    <hr>
    <div class="products-form">
        <p>Ingresa tu correo electrónico y te enviaremos un enlace para restablecer tu clave.</p>
        <br>
        <form id="forgotPasswordForm">
            <label for="email">Correo Electrónico</label>
            <input name="email" id="email" type="email" required>
            <button id="button-create" type="submit">Enviar Enlace</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('forgotPasswordForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        const email = document.getElementById('email').value;
        
        const response = await fetch('/api/sessions/forgot-password', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email })
        });
        
        const result = await response.json();
        
        if (result.status === 'success') {
            alert('Correo enviado. Revisa tu bandeja de entrada.');
            window.location.href = '/'; // Te redirige al inicio
        } else {
            alert(result.error);
        }
    });
</script>