<div class="box">
    <h1>Restablecer Contraseña</h1>
    <hr>
    <div class="products-form">
        <p>Ingresa tu nueva contraseña. Recuerda que no puede ser igual a la anterior.</p>
        <br>
        <form id="resetPasswordForm">
            <label for="newPassword">Nueva Contraseña</label>
            <input name="newPassword" id="newPassword" type="password" required>
            <button id="button-create" type="submit">Actualizar Contraseña</button>
        </form>
    </div>
</div>

<script>
    document.getElementById('resetPasswordForm').addEventListener('submit', async (e) => {
        e.preventDefault();
        const newPassword = document.getElementById('newPassword').value;
        
        // Extraemos el token que viene en la URL
        const urlParams = new URLSearchParams(window.location.search);
        const token = urlParams.get('token');

        if (!token) {
            return alert('Falta el token de seguridad en la URL.');
        }

        const response = await fetch('/api/sessions/reset-password', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ token, newPassword })
        });
        
        const result = await response.json();
        
        if (result.status === 'success') {
            alert('Contraseña actualizada con éxito. Ya puedes iniciar sesión.');
            window.location.href = '/login'; 
        } else {
            alert(result.error);
        }
    });
</script>